<h2 class="text-center mt-3">Países</h2>
<hr>

<ul class="list-group miLista">

  <!-- <li routerLink="home"
  routerLinkActive="active"
  [routerLinkActiveOptions]="{ exact: true }"
  class="list-group-item text-center">
  Home Page
  </li>

  <li
  routerLink="about"
  class="list-group-item text-center"
  routerLinkActive="active">
    About page
  </li>

  <li
  routerLink="contact"
  class="list-group-item text-center"
  routerLinkActive="active">
    Contact page
  </li> -->

  <li
  routerLink="countries/by-capital"
  class="list-group-item text-center"
  routerLinkActive="active">
    Por capital
  </li>

  <li
  routerLink="countries/by-country"
  class="list-group-item text-center"
  routerLinkActive="active">
    Por país
  </li>

  <li
  routerLink="countries/by-region"
  class="list-group-item text-center"
  routerLinkActive="active">
    Por continente
  </li>
</ul>
